@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.solBoxBlue {
  @apply bg-gradient-to-r from-solblue-darker2 via-solblue-2 to-solblue-darker2 text-white shadow-solbluelight rounded-lg;
}

.solBoxGray {
  @apply bg-solgray-light text-solblue-dark shadow-solbluelight rounded-lg;
}

.solBtnGray {
  @apply bg-gradient-to-t from-solgray-dark to-solgray-light text-solblue-darker uppercase py-1 px-4 text-sm rounded-full;
  /** leading-none rounded-lg flex md:inline-flex sm:w-full md:w-11/12 lg:w-11/12 xl:w-4/5 2xl:w-2/3  **/
}
.solBtnGray:hover {
  @apply bg-gradient-to-t from-solgray-lightest to-solgray-light shadow-solbluelight ;
}

.solBtnRewards {
  @apply bg-gradient-to-r from-solgray to-solgray-light text-solblue-darker uppercase py-1 px-4 text-sm rounded-b-lg;
}
.solBtnRewards:hover {
  @apply bg-gradient-to-t from-solacid to-solacid-light shadow-solbluelight ;
}

html {
  height: 100%;
  background-color: rgba(31,64,64,1);
}

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(360deg, rgba(31,64,64,1) 0%, rgba(1,12,19,1) 83%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#landing {
  background: linear-gradient(10deg, rgba(0,50,70,1) 0%, rgba(61,150,160,1) 50%, rgba(125,255,255,1) 100%);
}

#app {
  background: linear-gradient(360deg, rgba(31,64,64,1) 0%, rgba(1,12,19,1) 83%);
}