@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  background: linear-gradient(352deg, rgba(31,64,64,1) 0%, rgba(1,12,19,1) 83%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#landing {
  background: linear-gradient(10deg, rgba(0,50,70,1) 0%, rgba(61,150,160,1) 50%, rgba(125,255,255,1) 100%);
}

#app {
  background: linear-gradient(352deg, rgba(31,64,64,1) 0%, rgba(1,12,19,1) 83%);
}